<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path 'banner.png' %>);">
  <div class="container">
    <p>"A PELADA É A MATRIZ DO FUTEBOL" - CHICO BUARQUE</p>
    <% if user_signed_in? %>
      <h1>BEM VINDO, </h1>
      <h1><%= current_user.name %></h1>
    <% else %>
      <h1>ENCONTRE SUA PELADA</h1>
    <% end %>
  </div>
</div>

<div class="container pt-5 games-index">
  <h1>Todas as peladas</h1>
  <div class="container cards pt-5" >
    <% @games.each do |game| %>
      <%= link_to game_path(game), style: "text-decoration: none" do  %>
          <div class="card-game">
            <div class="card-game-infos">
              <div>
              <h2><%= "#{game.neighborhood} | #{l game.date, format: :long} | #{l game.time, format: :default}"  %></h2>
              </div>
            </div>
            <%= image_tag "game_card_bg", alt: "Ipanema" %>
          </div>
      <% end %>
    <% end %>
 </div>
 <hr>
   <%= link_to "Criar uma pelada", new_game_path, style: "text-decoration:none; color: white; font-family: 'Soccer League', sans-serif; font-size: 40pt" %>
</div>
