<div class="container pt-5 " >
  <div class="d-flex flex-column justify-content-around show">
    <div class="mb-4">
      <h1 class="mb-0">PELADA #00<%= @game.id %>
      </h1>
      <div class="d-flex align-items-center">
        <p class="mb-0">CRIADA POR <%= @game.user.name.try(:upcase) %> |</p>
        <% if (current_user == @game.user) %>
          <%= link_to 'Editar', edit_game_path(@game), style: "color: white; text-decoration: none;", class: "links-show" %>
          <%= link_to 'Apagar', game_path(@game), style: "color: white; text-decoration: none",class: "links-show", data: {turbo_method: :delete, turbo_confirm: "Tem certeza que quer deletar a pelada?"} %>
        <% end %>
      </div>
    </div>
    <div>
      <h3 class="mb-0">ENDEREÇO: <%= @game.address.upcase %></h3>
      <div class="d-flex align-items-center">
        <p style="text-transform: uppercase;">DIA: <%= l @game.date, format: :long %> |</p>
        <p class="ml-1">HORA: <%= l @game.time, format: :default %></p>
      </div>
    </div>
    <div class="container p-0">
      <hr class="custom-hr">
      <h3>PARTICIPANTES</h3>
        <div class="container">
          <div class="row">
            <% @game_participants.each do |p| %>
              <div class="col-sm-3">
                <div class="d-flex flex-column username-font">
                  <li class="remove-marker"> <%= image_tag "shirt.png", height: '30' %>  <%= p.user.name.upcase %>
                     <% if p.user == current_user %>
                      <p> <%= link_to 'Sair do jogo', game_participant_path(p), style: "color: white; text-decoration: none;", class: "links-show", data: {turbo_method: :delete, turbo_confirm: 'Vai pipocar?' } %> </p>
                    <% end %>
                  </li>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <hr class="custom-hr">
    </div>
  </div>
  <div class="join-game-button">
    <% unless @game_participants.pluck(:user_id).include? current_user.id %>
      <hr class="custom-hr mb-0">
      <%= button_to 'QUERO PARTICIPAR', game_game_participants_path(@game), style: "color: white; text-decoration: none; background-color: transparent; border: none", method: :post %>
      <hr class="custom-hr mt-0">
    <% end %>
  </div>
  <%= link_to 'Ver todas as peladas', root_path, style: "color: white;" %>
</div>
