<div class="container pt-5 " >
  <div class="d-flex flex-column justify-content-around show">
    <div class="mb-4">
      <h1 class="mb-0">PELADA #00<%= @game.id %>
      </h1>
      <div class="d-flex align-items-center">
        <p class="mb-0">CRIADA POR <%= @game.user.name.upcase %> |</p>
        <% if (current_user == @game.user) %>
          <%= link_to 'Editar', edit_game_path(@game), style: "color: white; text-decoration: none;", class: "links-show" %>
          <%= link_to 'Apagar', game_path(@game), style: "color: white; text-decoration: none",class: "links-show", data: {turbo_method: :delete, turbo_confirm: "Tem certeza que quer deletar a pelada?"} %>
        <% end %>
      </div>
    </div>
    <div>
      <h3 class="mb-0">BAIRRO: <%= @game.neighborhood.upcase %></h3>
      <div class="d-flex align-items-center">
        <p style="text-transform: uppercase;">DIA: <%= l @game.date, format: :long %> |</p>
        <p class="ml-1">HORA: <%= l @game.time, format: :default %></p>
      </div>
    </div>
    <div class="container">
      <% @game_participants.each do |p| %>
        <li> <%= p.user.name %>
        <% if p.user == current_user %>
          <%= link_to 'Sair do jogo', game_participant_path(p), data: {turbo_method: :delete, turbo_confirm: 'Vai pipocar?' } %>
        <% end %>
        </li>
      <% end %>
    </div>
  </div>

  <%= link_to 'Ver todas as peladas', root_path, style: "color: white;" %>


  <% unless @game_participants.pluck(:user_id).include? current_user.id %>
    <%= button_to 'Participar do jogo', game_game_participants_path(@game), method: :post %>
  <% end %>
</div>
