<div class="container pt-5" >
  <h2>
  Partida criada por <%= @game.user.name %>
  </h2>
  <p><%= @game.neighborhood %></p>
  <p><%= l @game.date, format: :long %></p>
  <p><%= l @game.time, format: :default %></p>

  <div class="container">
    <% @game_participants.each do |p| %>
      <li> <%= p.user.name %>
      <% if p.user == current_user %>
        <%= link_to 'Sair do jogo', game_participant_path(p), data: {turbo_method: :delete, turbo_confirm: 'Vai pipocar?' } %>
      <% end %>
      </li>
    <% end %>
  </div>

  <%= link_to 'Ver todas as peladas', root_path, style: "color: white;" %>
  <% if (current_user == @game.user) %>
  <%= link_to 'Apagar jogo', game_path(@game), style: "color: white;", data: {turbo_method: :delete, turbo_confirm: "Tem certeza que quer deletar a pelada?"} %>
  <%= link_to 'Editar jogo', edit_game_path(@game), style: "color: white;" %>
  <% end %>
  <%= button_to 'Participar do jogo', game_game_participants_path(@game), method: :post %>

</div>
